.main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.car {
    width: 33%;
    height: 275px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 10px maroon;
    margin: 20px;
    padding: 10px;
}

.car > img {
    width: 300px;
    object-fit: cover;
}

button {
    font-size: 2rem;
    padding: 10px 20px;
    border: 1px solid gray;
    box-shadow: 0 0 10px maroon;
    border-radius: 10px;
    outline: 0;
    cursor: pointer;
}